
/*
 * Rules specific to the SODUCO site
 */

.section-title {
    margin-top: 3rem;
}


.image-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-row img {
    display: block;
    max-width: 8em;
    text-align: center;
    object-fit:scale-down;
    padding: 0 1rem 0;
}


/* SoDUCo blue */
.theme-base-soduco .sidebar,
.theme-base-soduco .sidebar-toggle:active,
.theme-base-soduco #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #1f274d;
}
.theme-base-soduco .container a,
.theme-base-soduco .sidebar-toggle,
.theme-base-soduco .related-posts li a:hover {
  color: #1f274d;
}


/* Bigger title */
.masthead-title {
    font-size: 1.6rem;
}

.title-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.title-wrapper img {
	max-width: 20%;
	padding: 1rem;
}

.collapsible-content {
  display: none;
}

.paper-content {
  display: inline-flex;
}

.myicon {
  width: 20px;
  display: inline; 
  margin: 0 0 0 0;
}